<div class="fixed">
	<div class="nav"><h1>添加管理员</h1></div>
</div>
<div class="tab">
	<form action="__URL__/save" method="post">
	<table class="table" style="width:100%;">
	    <tr>
			<td style="text-align:right;padding-right:50px;width:50%;">姓名</td>
			<td><input type="text" name="name" value="" id="name"/></td>
		</tr>
		
		<tr>
			<td style="text-align:right;padding-right:50px;width:50%;">员工编号</td>
			<td><input type="text" name="number" value="" id="number"/></td>
		</tr>
		
		<tr>
			<td style="text-align:right;padding-right:50px;width:50%;">用户名</td>
			<td><input type="text" name="username" value="" id="username"/></td>
		</tr>
		
		<tr>
			<td style="text-align:right;padding-right:50px;width:50%;">密码</td>
			<td><input type="password" name="password" value="" id="password"/></td>
		</tr>
		
		<tr>
			<td style="text-align:right;padding-right:50px;width:50%;">验证码</td>
			<td><input type="text" name="verify" value="" id="verify"/>&nbsp;&nbsp;<img src="{:U('Admin/Admin/verify')}" alt="点击刷新" title="点击刷新" onclick="this.src='{:U('Admin/Admin/verify')}?'+Math.random()"/>&nbsp;&nbsp;<b><u>视力不好？点击图片刷新</u></b></td>
		</tr>
		
	</table>
	<table class="submit">
	<tr>
		<td colspan="2"><input type="submit" value="提交" id="submit"/></td>
	</tr>
	</table>
	</form>
</div>