<div class="foot">
    <div class="foot-log"><img src="__PUBLIC__/home/statics/images/dili/footer-logo.png" alt="footerlogo" width="130" height="46"/></div>
    <ul class="foot-ul">
      <li><a href="http://www.nationalgeographic.com.cn/html/about_us/" target="_blank">关于我们</a></li>
      <li><a href="http://www.nationalgeographic.com.cn/html/contact_us/" target="_blank">联系我们</a></li>
      <li><a href="http://www.nationalgeographic.com.cn/NGM_China.pdf" target="_blank">刊例下载</a></li>
      <li><a href="http://www.nationalgeographic.com.cn/subscribe/" target="_blank">杂志订阅</a></li>
      <li><a href="{:U('Admin/Login/login')}" target="_blank">我是管理员</a></li>
    </ul>
    <p>2003-2016 国家地理中文网版权所有 <a href="http://www.nationalgeographic.com">NATIONAL GEOGRAPHIC</a> All Rights Resevered.</p>
    <p class="last-p">京ICP备14040104号-1 京公网安备11010502015207</p>
    <div class="weixin_ewm"><img src="__PUBLIC__/home/statics/images/dili/weixin_ewm.png" alt="weixin_ewm" class="JIATHIS_IMG_NO"></div>
  </div>