<script charset="utf-8" src="__PUBLIC__/admin/js/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/admin/js/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="content"]', {
		allowFileManager : true
	});				
});
</script>
<div class="fixed">
	<div class="nav"><h1>修改每日一图</h1></div>
</div>
<!-- <div class="ishere">当前位置：</div> -->
<div class="tab">
	<form action="{:U('Admin/Dayone/usave')}" method="post" enctype="multipart/form-data">
	<table width=100% class="table">
		<tr>
			<th>标题:</th>
			<td><input value="{$arr.title}" type="text" name="title"/></td>
		</tr>
		
		<tr>
			<th>图片:</th>
			<td><input type="file" name="image" value=""/>
			<img src="__PUBLIC__/upload/dayone/{$arr.imagename}" alt="" width="150px" height="150px"/></td>
		</tr>
		<tr>
			<th>内容:</th>
			<td><textarea name="content" style="height:270px;width:90%;">{$arr.content}</textarea></td>
		</tr>
	</table>
	<table class="submit">
	<tr>
		<td colspan="2">
			<input type="hidden" name="imagename" value="{$arr.imagename}" />
			<input type="hidden" name="id" value="{$arr.id}"/>
			<input type="submit" value="修改" id="submit"/>
		</td>
	</tr>
	</table>
	</form>
</div>